body{
background-image:url("background.jpg");
}

h2{
    font-size: 30px !important;
}

.btn-primary:hover{
    background-color: Purple;
}

canvas{
    animation-name:karthikeyan ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes karthikeyan{
    from{box-shadow:2px 2px 38px purple;}
    to{box-shadow:2px 2px 38px red;}
}
